.Footer {
    background: linear-gradient(100deg, #3f434d 0%, #3f434d 20%, #000 100%);
    height: 100%;
    margin: 2em 0;
    position: relative;
    top: calc(100% - 2em);
}

.Footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #fff;
}

.Footer-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
}

.Footer-li {
    border: #fff solid 1px;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 1s ease;
}

.Footer-li:hover{
    border: #76d5e4 solid 1px;
    color: #76d5e4;
}

.Footer-li strong {
    font-weight: 700;
    margin: 0 10px;
    font-size: 1.3em;
}

@media screen and (max-width: 900px) {
    .Footer-ul {
        flex-flow: row wrap;
    }
}

@media screen and (max-width: 500px) {
    .Footer {
        margin: 0;
    }

    .Footer-li{
        border-radius: 5px;
        padding: .5em;
        margin: .5em;
    }
}
