@import url(reset.css);
@import url(nav.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap');

:root {
    --background-color-nav: #000;
    --color-nav: #fff;
    --background-color-btn: #36383f;
    --font-nav: "Lato", sans-serif;
    --color-text: #fff;
    --color-principal: rgb(199, 201, 211);
    --font-principal: "Lato", sans-serif;
    --background-color-footer: #191a1d;
}

.Main-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 2.5em 0 2.5em 2.5em;
    margin: 5em 0 0;
}

.Main-contents {
    padding: 20px 0;
    width: 100%;
    height: 100%;
}

.Main-h1 {
    color: var(--color-principal);
    font-weight: 400;
    font-size: 40px;
    width: 100%;
    padding: 20px;
}

.isWhite {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.Main-p {
    font-size: 30px;
    color: var(--color-principal);
    font-weight: 400;
    padding: 20px;
    margin: 20px 0;
}

.Main-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
}

.Main-button {
    font-size: 2em;
    padding: 17px 15px;
    border-radius: 5px;
    margin: 0 20px;
    cursor: pointer;
}

.isSign {
    background-color: #47cf73;
    color: #000;
    transition: all 1s ease;
}

.isSign:hover {
    background-color: #000;
    color: #fff;
    box-shadow: -1px 0px 12px 2px rgba(250, 250, 250, 1);
    transform: scale(0.9);
}

.isMore {
    background-color: #000;
    color: #fff;
    transition: all 1s ease;
}

.isMore:hover {
    background-color: #fff;
    color: #000;
    box-shadow: -1px 0px 12px 2px #47cf73;
    transform: scale(0.9);
}

/* SECOND COLUMN */
.Main-picture {
    grid-area: 1/2;
}

.Main-picture {
    background: 0 0;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 500px;
    margin-top: 1em;
}

.Main-img {
    width: 100%;
    height: 100%;
}

.Main-span {
    color: var(--color-text);
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 1em;
}

.isColorCodePen {
    color: #76d5e4;
    margin: 0;
}

.Rainbow{
    width: auto;
    text-align: center;
    position: relative;
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-block;
    z-index: 2;
    overflow: hidden;
    padding: 3px;
    margin: 0;
}

.Rainbow::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: 50% 100%;
}

.Rainbow span{
    position: relative;
    z-index: 2;
    padding: 1em;
    font-size: 1.1rem;
    align-items: center;
    background: #000;
    border-radius: 5px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    background-color: #000;
}

@media all and (max-width: 950px) {
    .Main-container {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        padding: 1em;
    }


    .Main-contents,
    .Main-picture {
        margin: 0;
        padding: 0;
        height: auto;
    }

    .Main-buttons{
        flex-wrap: wrap;
    }

    .Main-button{
        margin: .5em 0;
    }
}